<div class="row">
        <!-- <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product ngClass="col-lg-4 col-md-6 mb-4"></app-product> -->
<div ngClass="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
<div class="card h-100">
    <a href="#"><img class="card-img-top" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#">{{product.name}}</a>
      </h4>
      <h5>${{product.price}}</h5>
      <p class="card-text">{{product.desc}}</p>
      <button class="btn btn-success">Mua hàng</button>
      <button (click)="showDetail(product)" class="btn btn-primary info">Chi tiết</button>
      <button (click)="removeItem(product)"class="btn btn-danger">Delete</button>
    </div>
    <div class="card-footer">
      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9733; </small>
    </div>
  </div>
  </div>
  <p *ngIf="selected"><b>CHI TIẾT SẢN PHẨM</b> <br/> {{selected.show1}} <br/> {{selected.show2}} <br/> {{selected.show3}} <br/> {{selected.show4}}
  <br/> {{selected.show5}} <br/> {{selected.show6}} <br/> {{selected.show7}}</p>
  </div>
